{% include 'components/header.html' %}
{% load static %}
<link rel="stylesheet" href="css/book.css">



<h1>Теги</h1>
<div class="container my-5">
    <div class="d-flex justify-content-around mb-4">
        <button class="btn"><a href="{% url 'kids_clothes' %}">Детская</a></button>
        <button class="btn"><a href="{% url 'teenager_clothes' %}">Подростковая</a></button>
        <button class="btn"><a href="{% url 'adult_clothes' %}">Взрослая</a></button>
    </div>


    {% for i in adult %}

    <div class="container mt-4 content">
        <div class="row justify-content-center">
            <!-- Пример карточки книги -->
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.title }}</h5>
                        <p class="card-text">{{i.price}}</p>
                    </div>
                </div>
            </div>
            <!-- Добавьте дополнительные карточки книг здесь -->
        </div>
    </div>
    {% endfor %}
</div>
{% include 'components/footer.html' %}